.header {
    position:relative;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 50;
    background-color: rgb(17, 24, 39);  
    color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.header .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: left;
    align-items: left;
}

.header h1 {
    font-size: 1rem;
    color: white;    
}

.header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header nav a {
    color: rgb(209, 213, 219);  
    font-size: 1.125rem;
    text-decoration: none;
    transition: color 0.2s ease;
    position: relative;
}

.header nav a:hover {
    color: white;
}

.header nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: white;
    transition: width 0.2s ease;
}

.header nav a:hover::after {
    width: 100%;
}

/* Responsive design */
@media (max-width: 640px) {
    .header .container {
        padding: 0.5rem 1rem;
    }
    
    .header nav {
        gap: 1rem;
    }
    
    .header nav a {
        font-size: 1rem;
    }
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}